.footer {
  font-size: large;
  /* border-top: 1px solid var(--border-color); */
  padding: 2rem 10%;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

.footer-content p {
  margin-bottom: 1rem;
  opacity: 0.8;
}

.social-links a {
  margin: 0 0.75rem;
  color: var(--accent-color);
  font-weight: 1000;
  transition: var(--transition);
}

.social-links a:hover {
  text-decoration: underline;
}
